body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 2rem;
}

@media (max-width: 720px) {
  .header {
    flex-direction: column;
  }
}

.site-logo {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: white;
  margin: 0rem 1rem 1rem 0rem;

  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
}

.form__input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-style: none;
  border-color: white;
  border-radius: 1.8rem;
}

/* STICKER GRID */
.grid-term {
  columns: 10rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 720px) {
  .grid-term {
    columns: 7rem;
  }
}

.img-sticker {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 2rem;
  filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px 3px 0 white)
    drop-shadow(3px -3px 0 white) drop-shadow(-3px -3px 0 white);
  cursor: pointer;
}

.img-sticker:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-in-out;
}

/* ALERT */
.alert {
  position: fixed;
  z-index: 1;
  left: calc(50% - 9rem);
  width: 16rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: lightgreen;
  border: darkgreen 2px solid;
  border-radius: 1.5rem;
}
